Repository OwlPlug/owlplug-registry, changes with the labels that .github/labeler.yml gives for each.
All labels: Registry, Maintenance, Workflow

add: socalabs/wavetable 1.0.20
  registry/socalabs/wavetable/1.0.20/package.yaml
Labels: Registry

Deploying to gh-pages from @ OwlPlug/owlplug-registry@0ec1aa18b1765200d293ad29cf6afea2db5849d6 🚀
  registry.json
  registry.latest.json
  registry.latest.min.json
  registry.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

add: dougal-s/aether 1.2.1
  registry/dougal-s/aether/1.2.1/package.yaml
Labels: Registry

Deploying to gh-pages from @ OwlPlug/owlplug-registry@8e96adefa232a2173c96d60b1419c43181d45280 🚀
  registry.json
  registry.latest.json
  registry.latest.min.json
  registry.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

chore: update action version comments
  .github/workflows/deploy.yml
  .github/workflows/feedback-pr.yml
  .github/workflows/pre-analysis.yml
  .github/workflows/scorecards.yml
  .github/workflows/security.yml
  .github/workflows/triage-pr.yml
  .github/workflows/validate-packages.yml
Labels: Maintenance

chore: bump tools to 0.6.1
  package-lock.json
Labels: none

fix: aether and wobbleizer invlid formats field
  registry/dougal-s/aether/1.2.1/package.yaml
  registry/dropsnorz/wobbleizer/2.3.0.2/package.yaml
Labels: Registry

feat: update package formats field
  README.md
  doc/Registry-specification.md
  package-lock.json
  registry/artfwo/andes/1.0.0/package.yaml
  registry/chowdsp/chow/1.0.0/package.yaml
  registry/clearly-broken-software/drops/1.0-beta.2/package.yaml
  registry/clearly-broken-software/ninjas2/0.2.0/package.yaml
  registry/dexed/dexed/1.0.0.0/package.yaml
  registry/discodsp/obxd/0.1.4.1/package.yaml
  registry/dougal-s/aether/1.2.1/package.yaml
  registry/dropsnorz/wobbleizer/2.3.0.2/package.yaml
  registry/greatest-ape/octasine/0.8.3/package.yaml
  registry/khrykin/blackbird/0.1.0/package.yaml
  registry/michael-jan/keyrepeat/1.0.0/package.yaml
  registry/midilab/jc303/0.9.1/package.yaml
  registry/mzuther/squeezer/2.5.4/package.yaml
  registry/pentagrampro/owlbass/1.0.0/package.yaml
  registry/roth-air/roth-air/0.1.0.4/package.yaml
  registry/socalabs/mverb2020/1.0.1/package.yaml
  registry/socalabs/papu/1.0.4/package.yaml
  registry/socalabs/rp2a03/1.0.9/package.yaml
  registry/socalabs/sampledelay/1.0.0/package.yaml
  registry/socalabs/sfx8/1.0.0/package.yaml
  registry/socalabs/sid/1.0.5/package.yaml
  registry/socalabs/sn76489/1.0.4/package.yaml
  registry/socalabs/socalabs-compressor/1.0.1/package.yaml
  registry/socalabs/socalabs-delay/1.0.0/package.yaml
  registry/socalabs/voc/1.0.4/package.yaml
  registry/socalabs/wavetable/1.0.20/package.yaml
  registry/synister/synister/0.1.0.2/package.yaml
  registry/teragonaudio/kickmaker/0.1.0.0/package.yaml
  registry/tesselode/cocoa-delay/1.0.0.0/package.yaml
  registry/tesselode/flutterbird/1.0.0.0/package.yaml
  registry/tesselode/mika-micro/1.0.0.0/package.yaml
  registry/tunefish/tunefish4/4.2.0.0/package.yaml
  registry/tytel/helm/0.0.9.0/package.yaml
  registry/wolf-plugins/wolf-shaper/0.1.8/package.yaml
Labels: Registry

docs: update README.md
  README.md
Labels: none

Deploying to gh-pages from @ OwlPlug/owlplug-registry@0fba6e619af47c5bfc710131b89bba351f93ef33 🚀
  registry.json
  registry.latest.json
  registry.latest.min.json
  registry.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

ci: add custom user-agent to download bundles in security workflow
  .github/workflows/security.yml
Labels: Maintenance

add: michaelwillis/dragonfly-reverb 3.2.7
  registry/michaelwillis/dragonfly-reverb/3.2.7/package.yaml
Labels: Registry

chore: update dragonfly-reverb manifest with new registry spec
  registry/michaelwillis/dragonfly-reverb/3.0.0/package.yaml
  registry/michaelwillis/dragonfly-reverb/3.2.7/package.yaml
Labels: Registry

add: michaelwillis/dragonfly-reverb 3.0.0
  registry/michaelwillis/dragonfly-reverb/3.0.0/package.yaml
Labels: Registry

add: michaelwillis/dragonfly-reverb 3.2.7
  registry/michaelwillis/dragonfly-reverb/3.2.7/package.yaml
Labels: Registry

add: michaelwillis/dragonfly-reverb 3.0.0
  registry/michaelwillis/dragonfly-reverb/3.0.0/package.yaml
Labels: Registry

chore: update dragonfly-reverb manifest with new registry spec
  registry/michaelwillis/dragonfly-reverb/3.0.0/package.yaml
  registry/michaelwillis/dragonfly-reverb/3.2.7/package.yaml
Labels: Registry

Deploying to gh-pages from @ OwlPlug/owlplug-registry@3ffb00a8d1575a72fb03b4026589b4d177d24855 🚀
  registry.json
  registry.latest.json
  registry.latest.min.json
  registry.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

feat: update targets keywords in registry specification
  doc/Package-creation-guidelines.md
  doc/Registry-specification.md
  package-lock.json
  registry/artfwo/andes/1.0.0/package.yaml
  registry/chowdsp/chow/1.0.0/package.yaml
  registry/clearly-broken-software/drops/1.0-beta.2/package.yaml
  registry/clearly-broken-software/ninjas2/0.2.0/package.yaml
  registry/dexed/dexed/1.0.0.0/package.yaml
  registry/discodsp/obxd/0.1.4.1/package.yaml
  registry/dougal-s/aether/1.2.1/package.yaml
  registry/dropsnorz/wobbleizer/2.3.0.2/package.yaml
  registry/greatest-ape/octasine/0.8.3/package.yaml
  registry/khrykin/blackbird/0.1.0/package.yaml
  registry/michael-jan/keyrepeat/1.0.0/package.yaml
  registry/michaelwillis/dragonfly-reverb/3.0.0/package.yaml
  registry/michaelwillis/dragonfly-reverb/3.2.7/package.yaml
  registry/midilab/jc303/0.9.1/package.yaml
  registry/mzuther/squeezer/2.5.4/package.yaml
  registry/pentagrampro/owlbass/1.0.0/package.yaml
  registry/roth-air/roth-air/0.1.0.4/package.yaml
  registry/socalabs/mverb2020/1.0.1/package.yaml
  registry/socalabs/papu/1.0.4/package.yaml
  registry/socalabs/rp2a03/1.0.9/package.yaml
  registry/socalabs/sampledelay/1.0.0/package.yaml
  registry/socalabs/sfx8/1.0.0/package.yaml
  registry/socalabs/sid/1.0.5/package.yaml
  registry/socalabs/sn76489/1.0.4/package.yaml
  registry/socalabs/socalabs-compressor/1.0.1/package.yaml
  registry/socalabs/socalabs-delay/1.0.0/package.yaml
  registry/socalabs/voc/1.0.4/package.yaml
  registry/socalabs/wavetable/1.0.20/package.yaml
  registry/synister/synister/0.1.0.2/package.yaml
  registry/teragonaudio/kickmaker/0.1.0.0/package.yaml
  registry/tesselode/cocoa-delay/1.0.0.0/package.yaml
  registry/tesselode/flutterbird/1.0.0.0/package.yaml
  registry/tesselode/mika-micro/1.0.0.0/package.yaml
  registry/tunefish/tunefish4/4.2.0.0/package.yaml
  registry/tytel/helm/0.0.9.0/package.yaml
  registry/wolf-plugins/wolf-shaper/0.1.8/package.yaml
Labels: Registry

feat: update targets keywords in registry specification
  doc/Package-creation-guidelines.md
  doc/Registry-specification.md
  package-lock.json
  registry/artfwo/andes/1.0.0/package.yaml
  registry/chowdsp/chow/1.0.0/package.yaml
  registry/clearly-broken-software/drops/1.0-beta.2/package.yaml
  registry/clearly-broken-software/ninjas2/0.2.0/package.yaml
  registry/dexed/dexed/1.0.0.0/package.yaml
  registry/discodsp/obxd/0.1.4.1/package.yaml
  registry/dougal-s/aether/1.2.1/package.yaml
  registry/dropsnorz/wobbleizer/2.3.0.2/package.yaml
  registry/greatest-ape/octasine/0.8.3/package.yaml
  registry/khrykin/blackbird/0.1.0/package.yaml
  registry/michael-jan/keyrepeat/1.0.0/package.yaml
  registry/michaelwillis/dragonfly-reverb/3.0.0/package.yaml
  registry/michaelwillis/dragonfly-reverb/3.2.7/package.yaml
  registry/midilab/jc303/0.9.1/package.yaml
  registry/mzuther/squeezer/2.5.4/package.yaml
  registry/pentagrampro/owlbass/1.0.0/package.yaml
  registry/roth-air/roth-air/0.1.0.4/package.yaml
  registry/socalabs/mverb2020/1.0.1/package.yaml
  registry/socalabs/papu/1.0.4/package.yaml
  registry/socalabs/rp2a03/1.0.9/package.yaml
  registry/socalabs/sampledelay/1.0.0/package.yaml
  registry/socalabs/sfx8/1.0.0/package.yaml
  registry/socalabs/sid/1.0.5/package.yaml
  registry/socalabs/sn76489/1.0.4/package.yaml
  registry/socalabs/socalabs-compressor/1.0.1/package.yaml
  registry/socalabs/socalabs-delay/1.0.0/package.yaml
  registry/socalabs/voc/1.0.4/package.yaml
  registry/socalabs/wavetable/1.0.20/package.yaml
  registry/synister/synister/0.1.0.2/package.yaml
  registry/teragonaudio/kickmaker/0.1.0.0/package.yaml
  registry/tesselode/cocoa-delay/1.0.0.0/package.yaml
  registry/tesselode/flutterbird/1.0.0.0/package.yaml
  registry/tesselode/mika-micro/1.0.0.0/package.yaml
  registry/tunefish/tunefish4/4.2.0.0/package.yaml
  registry/tytel/helm/0.0.9.0/package.yaml
  registry/wolf-plugins/wolf-shaper/0.1.8/package.yaml
Labels: Registry

Deploying to gh-pages from @ OwlPlug/owlplug-registry@80daddf2323d4bf459cddaf14d126856c5ebb717 🚀
  registry.json
  registry.latest.json
  registry.latest.min.json
  registry.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

.github/labeler.yml:

# Add 'Registry' to any changes within 'registry' folder or any subfolders
Registry:
- changed-files:
  - any-glob-to-any-file: registry/**

Maintenance:
- changed-files:
  - any-glob-to-any-file:
    - index.js
    - package.json
    - .gitignore
    - .github/**

Workflow:
- changed-files:
  - any-glob-to-any-file: github/workflows/**
