Repository OwlPlug/owlplug-registry, changes with the labels that .github/labeler.yml gives for each.
All labels: Registry, Maintenance, Workflow

fix: allow add and remove label to fail
  .github/workflows/feedback-pr.yml
Labels: Maintenance, Workflow

fix: catch unhandled exception on apply label
  .github/workflows/feedback-pr.yml
Labels: Maintenance, Workflow

fix: catch label errors from promise
  .github/workflows/feedback-pr.yml
Labels: Maintenance, Workflow

ci: add build and deploy registry job
  .github/workflows/deploy.yml
Labels: Maintenance, Workflow

Deploying to gh-pages from @ OwlPlug/owlplug-registry@100132c9f97b607af71b1121eee03d225a1df8d1 🚀
  registry.json
  registry.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

chore: add dependabot config
  .github/dependabot.yml
Labels: Maintenance, Workflow

ci: add token permissions on workflow
  .github/workflows/feedback-pr.yml
  .github/workflows/pre-analysis.yml
  .github/workflows/security.yml
  .github/workflows/validate-packages.yml
Labels: Maintenance, Workflow

fix: pr validation workflow contents permission
  .github/workflows/pre-analysis.yml
  .github/workflows/validate-packages.yml
Labels: Maintenance, Workflow

fix: security workflow permissions
  .github/workflows/security.yml
Labels: Maintenance, Workflow

chore: update jobs permissions
  .github/workflows/deploy.yml
  .github/workflows/triage-pr.yml
Labels: Maintenance, Workflow

Create SECURITY.md
  SECURITY.md
Labels: none

doc: update README.md
  README.md
  doc/images/antivirus-message.png
  doc/images/pipeline.png
  doc/images/validation-message.png
  doc/images/virustotal-logo.png
Labels: none

doc: update README.md
  README.md
Labels: none

ci: add scorecards workflow
  .github/workflows/scorecards.yml
Labels: Maintenance, Workflow

chore: add license
  LICENSE.md
  README.md
  package.json
Labels: Maintenance

chore: use pinned dependencies for workflows
  .github/workflows/deploy.yml
  .github/workflows/feedback-pr.yml
  .github/workflows/pre-analysis.yml
  .github/workflows/security.yml
  .github/workflows/triage-pr.yml
  .github/workflows/validate-packages.yml
Labels: Maintenance, Workflow

Deploying to gh-pages from @ OwlPlug/owlplug-registry@5b199179079da58cf6db74a8df229b3dd50c406f 🚀
  registry.json
  registry.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

chore: add scorecard badge in readme
  README.md
Labels: none

Update SECURITY.md
  SECURITY.md
Labels: none

Deploying to gh-pages from @ OwlPlug/owlplug-registry@ef0af7399d7fc8b0e6eb562e207cfdf5af1b1dee 🚀
  registry.latest.json
  registry.latest.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

add: tytel/helm 0.0.9.0 version
  registry/tytel/helm/0.0.9.0/package.yaml
Labels: Registry

Deploying to gh-pages from @ OwlPlug/owlplug-registry@dab79860f311765b494e829af680c0ad9c9d109e 🚀
  registry.json
  registry.latest.json
  registry.latest.min.json
  registry.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

add: synister/synister 0.1.0.2
  registry/synister/synister/0.1.0.2/package.yaml
Labels: Registry

Deploying to gh-pages from @ OwlPlug/owlplug-registry@c8f75e8cf01edf88ef39fd6584152fb92288a340 🚀
  registry.json
  registry.latest.json
  registry.latest.min.json
  registry.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

Create CNAME
  CNAME
Labels: none

add: dexed/dexed 1.0.0.0
  registry/dexed/dexed/1.0.0.0/package.yaml
Labels: Registry

Deploying to gh-pages from @ OwlPlug/owlplug-registry@50cc9922264925850348012598ee2a3b8e73769d 🚀
  registry.json
  registry.latest.json
  registry.latest.min.json
  registry.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

add: tunefish/tunefish4 4.2.0.0
  registry/tunefish/tunefish4/4.2.0.0/package.yaml
Labels: Registry

Deploying to gh-pages from @ OwlPlug/owlplug-registry@e4e276ccea3754c6a2d7ab5700dfb20035740274 🚀
  registry.json
  registry.latest.json
  registry.latest.min.json
  registry.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

add: discodsp/obxd 0.1.4.1
  registry/discodsp/obxd/0.1.4.1/package.yaml
Labels: Registry

Deploying to gh-pages from @ OwlPlug/owlplug-registry@a98568ea66b4c28049f47a5c2bb00f54678272f0 🚀
  registry.json
  registry.latest.json
  registry.latest.min.json
  registry.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

registry: update wobbleizer package
  registry/dropsnorz/wobbleizer/2.3.0.2/package.yaml
Labels: Registry

ci: job fails if an error occurs during validation
  .github/workflows/validate-packages.yml
Labels: Maintenance, Workflow

Deploying to gh-pages from @ OwlPlug/owlplug-registry@0cde8dda4d4ce99a6638223056fbf13b94ec56f4 🚀
  registry.json
  registry.latest.json
  registry.latest.min.json
  registry.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

add: roth-air/roth-air 0.1.0.4
  registry/roth-air/roth-air/0.1.0.4/package.yaml
Labels: Registry

Deploying to gh-pages from @ OwlPlug/owlplug-registry@d76ca25e6950d79c4a16a734048b4f60cbabe025 🚀
  registry.json
  registry.latest.json
  registry.latest.min.json
  registry.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

add: teragonaudio/kickmaker 0.1.0.0
  registry/teragonaudio/kickmaker/0.1.0.0/package.yaml
Labels: Registry

Deploying to gh-pages from @ OwlPlug/owlplug-registry@5713f012f1ee3fd4e8a82da19feadfc6c77d7228 🚀
  registry.json
  registry.latest.json
  registry.latest.min.json
  registry.min.json
  store.legacy.json
  store.legacy.min.json
Labels: none

ci: limit number of analysis by virus total for each pull request
  .github/workflows/security.yml
Labels: Maintenance, Workflow

add: tesselode/mika-mico 1.0.0.0
  registry/tesselode/mika-micro/1.0.0.0/package.yaml
Labels: Registry

.github/labeler.yml:

# Add 'Registry' to any changes within 'registry' folder or any subfolders
Registry:
- registry/**/*

Maintenance: 
- index.js
- package.json
- .gitignore
- .github/**/*

Workflow:
- .github/**/*
